* {
    box-sizing: border-box; 
    word-break:break-all
}

.wrapper {
    background-image: url(https://t4.ftcdn.net/jpg/03/72/77/03/360_F_372770368_SA0OKmnfydDN7dtJZUdMXTD0tKharctA.jpg);
    background-size: cover;
}

.container {
    max-width: 1170;
    color: white;
    padding: 0 40px;
}

header {
    background-color: rgba(0, 0, 125, 0.6);
    height: 100px;
}

header h1 {
    float: left;
    line-height: 100px;
}

header ul {
    float: right;
    display: flex;
    line-height: 100px;
}

header li a {
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

header li a:hover {
    padding-right: 30px;
    text-decoration: none;
    color: blue;
}

main .container {
    margin: 100px 0;
}

.main-text {
    color:rgba(0, 0, 125, 0.8);
    opacity: 0.7;
    text-align: center;
}

main h1 {
    font-size: 70px;
}

.servise {
    margin: 100px;
}

.servise ul {
    display: flex;
    justify-content: center;
}

.servise li {
    width: 300px;
    text-align: left;
    background-color: rgba(0, 0, 125, 0.6);
    height: 300px;
    border-radius: 4px;
    margin: 0 30px;
}

.servise li h2 {
    text-align: center;
    padding: 20px;
    color: white;
}

.servise li p {
    text-align: left;
    margin: 0 20px;
    color: white;
}

.profile {
    display: flex;
    justify-content: center;
}
.profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px; 
    background-color: rgba(0, 0, 125, 0.6);
    border-radius: 4px;
}

.profile-card img {
    border: solid 2px silver;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    object-position: left 0 top 0;
    margin-right: 50px;
}

footer {
    height: 80px;
    line-height: 80px;
    background-color: rgba(0, 0, 125, 0.6);
    text-align: left;
}